# exercise 1

In [34]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']
ages = [20, 40, 30]


#Use zip to iterate to all three lists and in a for loop and print each time the first name, last name and age.

zipped =list(zip(first_names, last_names, ages))

zipped

[('Jane', 'Doe', 20), ('John', 'Williams', 40), ('Jennifer', 'Smith', 30)]

In [37]:
for x,y,z in zipped:
    print(f'{x}, {y}, has an age: {z}')

Jane, Doe, has an age: 20
John, Williams, has an age: 40
Jennifer, Smith, has an age: 30

# exercise 2

In [150]:

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

total_sales = [52000.00, 51000.00, 48000.00, 62000.0, 42000.0, 46000.0, 39000.0, 59000.0, 64000.0, 54000.0, 44000.0, 71000.0]

prod_cost = [46800.00, 45900.00, 43200.00, 45600.00, 37200.00, 42200.00, 48900.00, 33600.00, 54200.00, 33200.00, 42100.00]


#Calculate from the following lists the profit for each month. Identify the month with the highest profits (use zip).

sales_lst = []
for month, sales , costs in zip(months,total_sales,prod_cost):
    profit = sales - costs
    
    print(f'profit for {month} is {profit}')

profit for January is 5200.0
profit for February is 5100.0
profit for March is 4800.0
profit for April is 16400.0
profit for May is 4800.0
profit for June is 3800.0
profit for July is -9900.0
profit for August is 25400.0
profit for September is 9800.0
profit for October is 20800.0
profit for November is 1900.0

In [147]:
sorted(sales_lst,key=lambda x:x[1], reverse=True)

NameError: name 'sales_lst' is not defined

# exercise 3

In [61]:
#Use map function and lambda to make the email from the following list lowercase:

lst = ["Mary@GMAIL.com", "hari@YaHoo.com", "SopHIA@qg.com", "EVan@YahoO.COM"]

list(map(lambda x: x.lower(),lst))

['mary@gmail.com', 'hari@yahoo.com', 'sophia@qg.com', 'evan@yahoo.com']

# exercise 4

In [152]:
#Find the movie with the highest duration, use lambda function.

movies = {'pulp fiction': 154, 'terminator': 107, 'aliens': 137, 'the lion king': 98, 'pink panther': 115}

max(movies.items(), key = lambda x:x[1])

('pulp fiction', 154)

In [153]:
max(movies, key = lambda x:movies[x])

'pulp fiction'

# exercise 5

In [155]:
#Write a program to filter out the even numbers from a list of integers using Lambda.


lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

even = list(filter(lambda x: x%2!=0, lst))
print(even)

[1, 3, 5, 7, 9, 11]

In [156]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

even = list(filter(lambda x: x%2==0, lst))
print(even)

[2, 4, 6, 8, 10, 12]

# exercise 6

In [75]:
#Filter out the even numbers from the following list and sort them using Lambda.

lst = [-4, 2, -3, 6, 3, 8, 11, -10]

even = sorted(list(filter(lambda x: x%2==0, lst)))
even

[-10, -4, 2, 6, 8]

In [157]:
lst = [-4, 2, -3, 6, 3, 8, 11, -10]

even = sorted(list(filter(lambda x: x%2!=0, lst)))
even

[-3, 3, 11]

# exercise 7

In [77]:
#Write a function to remove all elements from a given list present in another list using lambda (and filter?).


lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst2 = [2, 4, 6, 8, 9]

def lst3(lst1,lst2):
    result = list(filter(lambda x: x not in lst2, lst1))
    return result

lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst2 = [2, 4, 6, 8, 9]

print(lst1)
print(lst2)
print(lst3(lst1,lst2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 9]
[1, 3, 5, 7, 10]

# exercise 8

In [81]:
#Using the filter function and lambda, find the values that are common to the two lists below.


a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]

z = list(filter(lambda x: x in a, b))
z

[2, 3, 5, 7]

# exercise 9

In [84]:
#Use filter and lambda to return only negative numbers from a list.

lst = [2, -2, -3, 4, -5, 6, 7, -8, 9, -10]

list(filter(lambda x: x <= 0, lst))

[-2, -3, -5, -8, -10]

# exercise 10

In [159]:
#Double the number of each element from the following list (use lambda)

lst = [6, 7, 23, 27, 24, 62, 87, 28, 23, 91]

list(map(lambda x: x*2, lst))

[12, 14, 46, 54, 48, 124, 174, 56, 46, 182]

# exercise 11

In [162]:
#Using sorted() function and lambda sort the tuples in the list based on the last character of the second item.


# Cities population
lst = [(3090508, "Athens"), (9002488, "London"), (402762, "Zurich"), (198979, "Geneva"), (3769495, "Berlin"), (2165423, "Paris")]

sorted_list = sorted(lst, key=lambda x:x[1][-1])

sorted_list

[(198979, 'Geneva'),
 (402762, 'Zurich'),
 (9002488, 'London'),
 (3769495, 'Berlin'),
 (3090508, 'Athens'),
 (2165423, 'Paris')]

In [163]:
sorted(lst, key=lambda x: x[1][::-1])

[(198979, 'Geneva'),
 (402762, 'Zurich'),
 (3769495, 'Berlin'),
 (9002488, 'London'),
 (2165423, 'Paris'),
 (3090508, 'Athens')]

# exercise 12

In [95]:
#Write a Python program to find the maximum and minimum values in the previous list of tuples using lambda function.

lst = [(3090508, "Athens"), (9002488, "London"), (402762, "Zurich"), (198979, "Geneva"), (3769495, "Berlin"), (2165423, "Paris")]


max_value = max(lst, key=lambda x:x)
min_value = min(lst, key=lambda x:x)

print(max_value)
print(min_value)

(9002488, 'London')
(198979, 'Geneva')

# exercise 13

In [109]:
#Remove values that are not integer from a given list using lambda function
lst =  [4,67,8, None, 32, 'Missing', 21, 23.3]

new_lst = list(filter(lambda x: type(x)==int, lst))

new_lst

[4, 67, 8, 32, 21]

# exercise 14

In [167]:
# Write a Python program to sort a mixed list of integers and strings using lambda.


lst =  [4,67,8, 'not found', 32, 'missing', 21, 23, 'warning', 'alert']
def sort_mixed(lst):
    lst.sort(key=lambda x: (isinstance(x, str), x))
    return lst

sort_mixed(lst)

[4, 8, 21, 23, 32, 67, 'alert', 'missing', 'not found', 'warning']

# exercise 15

In [142]:
#Write a Python program to calculate the average value of numbers in a list of lists using lambda.

lst = [[33,4,33,22], [4,23,11,3], [1,22,75,11], [32,14,65,73], [3,2,6,8], [353,234,566,234,653]]

new_list=[sum(i)/len(i) for i in list(zip(*lst))]


print(new_list)

[71.0, 49.833333333333336, 126.0, 58.5]

In [143]:
x = list(zip(*lst))
x

[(33, 4, 1, 32, 3, 353),
 (4, 23, 22, 14, 2, 234),
 (33, 11, 75, 65, 6, 566),
 (22, 3, 11, 73, 8, 234)]

In [179]:
def avr_in_list(lst):
    
    lst = [[33,4,33,22], [4,23,11,3], [1,22,75,11], [32,14,65,73], [3,2,6,8], [353,234,566,234,653]]
    result = list(map(lambda x: sum(x) / len(x), lst))
    return result
                  
avr_in_list(lst)

[23.0, 10.25, 27.25, 46.0, 4.75, 408.0]

In [182]:
lst =  [4,67,8, 'not found', 32, 'missing', 21, 23, 'warning', 'alert']

isinstance(lst,list)


# isinstance(*takes the list give(lst),* returns a boolean if it is a string or a list or any datatype)
#isinstance(key=lambda x: (isinstance(x, str), x) for every x inside ther list return if it is a str or smth else.

True