# exercise 1

In [18]:
#Change Aliceâ€™s grades to A,B,C,D,F for each grade in the list (hint: use enumerate!)



alice = {
 "name": "Alice",
 "homework": [100.0, 92.0, 98.0, 100.0],
 "quizzes": [82.0, 83.0, 91.0],
 "tests": [89.0, 97.0]
}



x = alice['homework']
x

[100.0, 92.0, 98.0, 100.0]

In [19]:
for index, elem in enumerate(x):
    print(index,elem)

0 100.0
1 92.0
2 98.0
3 100.0

In [21]:
def convert_grade(x):
    if x>90:
        elem = ('A')
    else:
        elem = ('B')
    return elem

In [25]:
for index, elem in enumerate(x):
    print(index, elem, convert_grade(elem))

0 100.0 A
1 92.0 A
2 98.0 A
3 100.0 A

# exercise 2

In [33]:
#Use map function to make the email from the following list lowercase:


lst = ["Mary@GMAIL.com", "hari@YaHoo.com", "SopHIA@qg.com", "EVan@YahoO.COM"]


list(map(lambda x: x.lower(),lst))

['mary@gmail.com', 'hari@yahoo.com', 'sophia@qg.com', 'evan@yahoo.com']

In [34]:
list(map(str.lower,lst))

['mary@gmail.com', 'hari@yahoo.com', 'sophia@qg.com', 'evan@yahoo.com']

# exercise 3

In [41]:
def length(string):
    return len,string.split()

x = list(map(len,string.split()))

string = 'Quantum computing will revolutionize the way we work'

x

[7, 9, 4, 13, 3, 3, 2, 4]

# exercise 4

In [44]:
#Use filter function to pass every student scored above 60 from the following list:

def students(x):
    return x[1] > 60

scores = [['john', 45],['alice',67],['tyler',56],['nick',86]]
de = list(filter(students,scores))

de

[['alice', 67], ['nick', 86]]

# exercise 5

In [46]:
#Use filter function to the following dictionary to filter out all users with lower times than 100:

def users(x):
    return x < 100

user_time = {'john':410, 'nadia': 700, 'tonny': 34, 'sylvia': 56, 'anna': 116}

new_users = dict(filter(lambda x: x[1] < 100, user_time.items()))

new_users

{'tonny': 34, 'sylvia': 56}

# exercise 5

In [53]:
def users(x):
    return x[1] < 100
    
    
user_time = {'john':410, 'nadia': 700, 'tonny': 34, 'sylvia': 56, 'anna': 116}

new_users = dict(filter(users, user_time.items()))

new_users

{'tonny': 34, 'sylvia': 56}

# exercise 6

In [54]:
#Filter out the patients with not measured height:

def patients(x):
    return x[1] == None


patient_height = {'john': 167, 'lizea': None, 'bob': 174, 'greg': None, 'hans': 193}

new = list(filter(patients,patient_height.items()))

new

[('lizea', None), ('greg', None)]

# exercise 7

In [1]:
students = "{'lloyd': {'name': 'Lloyd', 'homework': [90.0, 97.0, 75.0, 92.0], 'quizzes': [88.0, 40.0, 94.0], 'tests': [75.0, 90.0]}, 'alice': {'name': 'Alice', 'homework': [100.0, 92.0, 98.0, 100.0], 'quizzes': [82.0, 83.0, 91.0], 'tests': [89.0, 97.0]}, 'tyler': {'name': 'Tyler', 'homework': [0.0, 87.0, 25.0, 22.0], 'quizzes': [0.0, 75.0, 78.0], 'tests': [100.0, 100.0]}}"

students = eval(students)  #Take the following string, convert it to a dictionary.
students

{'lloyd': {'name': 'Lloyd',
  'homework': [90.0, 97.0, 75.0, 92.0],
  'quizzes': [88.0, 40.0, 94.0],
  'tests': [75.0, 90.0]},
 'alice': {'name': 'Alice',
  'homework': [100.0, 92.0, 98.0, 100.0],
  'quizzes': [82.0, 83.0, 91.0],
  'tests': [89.0, 97.0]},
 'tyler': {'name': 'Tyler',
  'homework': [0.0, 87.0, 25.0, 22.0],
  'quizzes': [0.0, 75.0, 78.0],
  'tests': [100.0, 100.0]}}

In [29]:
student_grades = {"lloyd":{},"alice":{},"tyler":{}}

for student in students.keys():
    value = students[key]
    for j in value:
        if j != 'name':
            avr_grades = sum(value[j])/len(value[j])
            student_grades[student].update({j:avr_grades})
            
student_grades

{'lloyd': {'homework': 88.5, 'quizzes': 74.0, 'tests': 82.5},
 'alice': {'homework': 88.5, 'quizzes': 74.0, 'tests': 82.5},
 'tyler': {'homework': 88.5, 'quizzes': 74.0, 'tests': 82.5}}

In [31]:
students_grades["lloyd"]

{'homework': 88.5, 'quizzes': 74.0, 'tests': 82.5}

In [34]:
students_grades["alice"]

{'homework': 97.5, 'quizzes': 85.33333333333333, 'tests': 93.0}

In [33]:
students_grades["tyler"]

{'homework': 33.5, 'quizzes': 51.0, 'tests': 100.0}

In [53]:
final_grade = 0
for item in students_grades["lloyd"]:
    if item == 'homework':
        final_grade = final_grade + 2*students_grades["lloyd"][item]
    else:
        final_grade = final_grade + students_grades["lloyd"][item]
        
print(final_grade/4)

83.375

In [60]:
x = 0
for i in students_grades["alice"]:
    if i == 'homework':
        x =x + 2*students_grades["alice"][i]
    else:
        x =x + students_grades["alice"][i]
print(x/4)

93.33333333333333

In [70]:
for student in students_grades.keys():
    y = 0
    for elem in students_grades[student]:
        if elem == 'homework':
            y += 2*students_grades[student][elem]
        else:
            y += students_grades[student][elem]
    students_grades[student] = y/4
    
print(students_grades)

{'lloyd': 83.375, 'alice': 93.33333333333333, 'tyler': 54.5}

In [66]:
import random 
lower = "a,b,c,d"
upper = "A,B,C,D"
numbers = "0123456789"
symbols = "[]{}()*&^%$#@!"

all = lower + upper + numbers + symbols
length = 16
password = "".join(random.sample (all,length))

print(password)

,#c$3%b,D}5)&1,a

In [74]:
def convert_grades(f):
    if f >= 90:
        grade = 'A'
    elif 80 <= f < 90:
        grade = 'B'
    elif 70 <= f < 80:
        grade = 'C'
    elif 60 <= f < 70:
        grade = 'D'
    else:
        grade = 'F'
    return grade

In [79]:
list(filter(lambda x: pass_fail(x[1]), student_grades.items()))
[('lloyd', 'B'), ('alice', 'A')]

[('lloyd', 'B'), ('alice', 'A')]